In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from typing import List

import pandas as pd
from sklearn.model_selection import train_test_split

from src.data.rnn_preprocessing import clean_company_name_string

# Добавляем путь к основной папке проекта, чтобы иметь возможность делать импорт из src
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [3]:
data = pd.read_csv('../data/raw/train.csv')
data.head()

,pair_id,name_1,name_2,is_duplicate
0,1,Iko Industries Ltd.,"Enormous Industrial Trade Pvt., Ltd.",0
1,2,Apcotex Industries Ltd.,Technocraft Industries (India) Ltd.,0
2,3,"Rishichem Distributors Pvt., Ltd.",Dsa,0
3,4,Powermax Rubber Factory,Co. One,0
4,5,Tress A/S,Longyou Industries Park Zhejiang,0

In [4]:
X = data.drop(['is_duplicate'], axis = 1)
y = data.is_duplicate

X_train, X_test, y_train, y_test = train_test_split(
    X,
    y,
    random_state = 666,
    stratify = y,
    test_size = 0.2
)

X_train['is_duplicate'] = y_train
X_test['is_duplicate'] = y_test

In [6]:
all_names = sorted(set(list(X_train['name_1'].values) + list(X_train['name_2'].values)))
clean_names = [clean_company_name_string(name) for name in all_names]

In [7]:
all_characters = set()
for name in all_names:
    all_characters.update(name.lower())
    
clean_characters = set()
for name in clean_names:
    clean_characters.update(name.lower())